<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient" />
		<add key="connectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=ManufactureDB;Integrated Security=True" />
	</appSettings>
	<connectionStrings>
		<add name="SqlProvider" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ManufactureDB;Integrated Security=True" />
	<add name="ManufactureConnection" connectionString="data source=.\sqlexpress;initial catalog=ManufactureDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.vl">
			<dependentAssembly>
				<assemblyIdentity name="TestLibrary" publicKeyToken="ef46268e3e614574" culture="neutral" />
				<!--<bindmgRedirect oldVersion= "1.0.0.0"
				newVersion= "1.1.0.0"/>-->
				<bindmgRedirect oldVersion="1.1.0.0" newVersion="1.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>