<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_BenTalking" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_BenTalking">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/BenTalkingService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_BenTalking" contract="ServiceReference1.BenTalking"
                name="BasicHttpBinding_BenTalking" />
            <endpoint address="net.tcp://localhost:8099/BenTalkingService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BenTalking"
                contract="ServiceReference1.BenTalking" name="NetTcpBinding_BenTalking">
                <identity>
                    <userPrincipalName value="DESKTOP-OD8ATN8\nuadolos" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>