<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<!--Упрощенный вид конфигурации настроек с помощью стандартных конечных точек-->
		<services>
			<service name="BenTalkingServiceLib.BenTalkingService">
				<host>
					<baseAddresses>
						<!--Выбирает подходящий тип привязки-->
						<add baseAddress="http://localhost:8080/BenTalkingService"/>
						<add baseAddress="net.tcp://localhost:8099/BenTalkingService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings><!--Изменение параметров стандартных конечных точек-->
			<basicHttpBinding>
				<binding openTimeout="00:00:30"/>
			</basicHttpBinding>
			<netTcpBinding>
				<binding closeTimeout="00:00:15"/>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior><!--Для получения стандартного MEX атрибут behavior не именуется-->
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!--Создание прокси через утилиту svcutil:
        
        svcutil http://localhost:8080/BenTalkingService /out:BenProxy.cs /config:app.config
          
        Данная утилита удобна при генерации прокси с помощью расширенных параметров.
        Генерация стандартного прокси возможна через Visual Studio,
            Нажать на проект => добавить => ссылка на службу-->

		<!--После обновления конфигурации хоста необходимо:
		1) Запустить хост в режиме без откладки
		2) В клиенском проекте нажать ПКМ на папку "ServiceReference1"
		3) Нажать на кнопку "Обновить ссылку на службу"-->
		
		<!--Пример ручного написания хоста-->
		<!--<bindings>
			<basicHttpBinding>--><!--Изменение параметров в декларативной манере--><!--
				<binding name="CustomHttpBinding" openTimeout="00:00:30"/>
			</basicHttpBinding>
		</bindings>
		<services>
			<service name="BenTalkingServiceLib.BenTalkingService"
					 behaviorConfiguration="BenTalkingServiceMEXBehavior">
				<endpoint address = ""
						  binding = "basicHttpBinding"
						  bindingConfiguration = "CustomHttpBinding"
						  contract = "BenTalkingServiceLib.IBenTalking"/>
				<endpoint address="mex" 
						  binding="mexHttpBinding"
						  contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/BenTalkingService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="BenTalkingServiceMEXBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>-->
	</system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>