@using ManufactureEF.Entities
@model IEnumerable<ManufactureEF.Entities.User>

@{
    ViewData["Title"] = "Список";
}

<h1>Список пользователей</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>

@await Component.InvokeAsync("User")
