@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @*Использование собственного вспомогательной функции дескриптора*@
    <h4>Почта для связи:</h4>
    <email email-name="2nuadolos1" email-domain="gmail.com"></email>
</div>
